# Python
.venv/
__pycache__/
*.pyc

# Environment
.env

# dbt
target/
dbt_packages/
logs/

# Airflow
airflow/logs/
airflow/airflow.db
airflow/*.pid

# macOS
.DS_Store

# VSCode
.vscode/

# Data
*.csv
*.parquet